p {
  font-weight: bold;
}
span {
  font-weight: 400;
}
ul {
  list-style: none;
}
ul li {
  display: inline-block;
  padding: 0 15px;
}
ul li:first-child {
  font-weight: 700;
}
.red {
  color: red;
  font-weight: 700;
  text-decoration: underline;
}
#score_number {
  font-weight: 700;
  font-size: 25px;
}
