* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

/* generale */
body {
  background-color: rgba(14, 21, 38, 0.82);
}
h2 {
  text-align: center;
  text-transform: uppercase;
}
ul {
  list-style: none;
}
/* /generale */

/* utilities */
.hidden {
  display: none;
}
.show {
  animation-name: show;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
.btn {
  width: 100px;
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  color: #303de0;
  border-color: #2bdb1b;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s linear 0s;
}
.btn:hover {
   width: 150px;
   color: #ada842;
}
.btn:focus {
  outline: none;
}
.red {
  color: red;
  font-weight: 700;
  text-decoration: underline;
}
/* /utilities */

/* header */
header {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #12120f;
}
#start,
#select_section {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
select {
  width: 150px;
  height: 35px;
  border-radius: 20px;
  color: #ffffff;
  background-color: transparent;
  text-transform: uppercase;
  text-align-last: center;
  border-width: 2px;
  border-color: #b4cf06;
  cursor: pointer;
}
select:focus {
  outline: none;
  border-radius: 20px 20px 0 0;
}
select option {
  background-color: #12120f;
}
/* /header */

/* main */
#bombs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#bombs li {
  width: 80px;
  height: 80px;
  margin: 15px 0;
  line-height: 80px;
  background-color: grey;
}
.bombs_block {
  width: 20%;
  margin: auto;
  background-color: red;
}
#user_numbers {
  display: flex;
  justify-content: center;
}
#user_numbers li {
  padding: 0 20px;
}
/* /main */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #12120f;
  color: #ada842;
}
/* ANIMAZIONI */
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
