* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

/* utilities */
.hidden {
  display: none;
}
.show {
  animation-name: show;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
.btn {
  width: 100px;
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: transparent;
  color: #303de0;
  border-color: #2bdb1b;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s linear 0s;
}
.btn:hover {
   width: 150px;
   color: #ada842;
}
/* /utilities */

/* header */
header {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #12120f;
}
#start,
#select_section {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* /header */


p {
  font-weight: bold;
}
span {
  font-weight: 400;
}
ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}
ul li {
  width: 80px;
  height: 80px;
  margin: 15px 0;
  line-height: 80px;
  background-color: grey;
}
ul li:first-child {
  font-weight: 700;
}
.red {
  color: red;
  font-weight: 700;
  text-decoration: underline;
}
#score_number {
  font-weight: 700;
  font-size: 25px;
}
.bombs_block {
  width: 20%;
  margin: auto;
  background-color: red;
}


/* ANIMAZIONI */
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
